html {
  background: var(--bg1);
  min-height: 100%;
} body { 
  margin: auto;
  width: 100%;
  height: 50vh;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  background: var(--bg0);
  > * { flex: 1; }
} #instructions, #project {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  user-select: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
} #instructions {
  top: 7%;
} #project {
  bottom: 7%;
  a, label {
    text-decoration: none;
    color: black;
  }
} #download :hover, #upload :hover {
  cursor: pointer;
  color: var(--alt3);
} tl-timeline {
  max-width: 100vw;
  overflow: scroll;
  padding: 0 5rem;
}