:root {
  --primary: #fff;
  --secondary: #ccc;
  --tertiary: #111;
  --bg0: #000;
  --bg1: rgb(89, 6, 31);
  --alt0: #ff004c3b;
  --alt1: #5F55F5;
  --alt2: #55F5F5;
  --alt3: #F5F555;
  --alt4: #F555F5;
  --alt5: #f57255;
  --marker-size: 2rem;
} .hidden {
  display: none;
} tl-timeline {
  display: flex;
  overflow-y: hidden;
  font-size: 1.25rem;
} tl-timeline[mode="add"] {
  cursor: copy !important;
} tl-timeline[mode="edit"] {
  background: var(--tertiary) !important;
  cursor: pointer !important;
} tl-event {
  color: white;
  flex: 1;
  min-width: min-content;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * { flex: 1; }
  .name-container {
    position: relative;
    min-width: min-content;
    max-width: min-content;
    flex: 1;
    display: flex;
    input.name {
      flex: 1;
      position: absolute;
      cursor: inherit;
      bottom: 0;
      padding: 0;
      border: 0;
      background: none;
      color: var(--primary);
      min-width: 8ch;
      font-family: 'Consolas', monospace;
      font-size: 100%;
      height: min-content;
      padding-top: 100vh;
    } input.name:focus {
      outline: none;
    }
  } textarea.description {
    cursor: inherit;
    background: none;
    color: var(--primary);
    height: 50%;
    border: 0;
    padding: 0;
    margin: 0;
    resize: none;
    font-size: 75%;
    text-align: center;
  } textarea.description:focus {
    outline: none;
  }
} tl-event.active {
  background: var(--bg1) !important;
} tl-event.deleting {
  background: var(--alt0) !important;
} .demo { 
  min-width: 9ch !important;
  .line {
    box-shadow: 0 0 5px 5px var(--bg1);
    background: var(--primary);
    z-index: 1;
  }
} .marker {
  border-radius: 50%;
  margin: auto 0;
  background: var(--primary);
  border: 2px solid var(--bg1);
  z-index: 10;
  max-width: min-content;
  .name-container {
    max-width: min-content;
    input.name {
      color: black;
      flex: 1;
      position: relative !important;
      margin: auto;
      display: block;
      padding-top: 0;
      min-width: var(--marker-size);
      min-height: var(--marker-size);
      max-width: var(--marker-size);
      max-height: var(--marker-size);
      font-size: 0.75rem;
    }
  }
} .line { 
  max-height: 5px;
  background: var(--alt5);
  box-shadow: none;
}